@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h1, h2, h3 {
    color: #454545;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 16px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 50px;
    width: calc(100% - 200px);
    border-radius: 12px;
    background-color: #fff;
}

.modal__result {
    text-align: left;
    overflow: auto;
    max-height: 400px;
    margin-top: 50px;
    border: 1px solid #000;
    padding: 10px;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 5px;
}

.header {
    background: #0080C8;
    color: #fff;
}

.header__inner {
    height: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 25px;
}

.header__logout {
    cursor: pointer;
}

.main-block {
    position: relative;
}

.loading-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 5;
}

.overlay__text {
    margin-top: 85px;
    font-size: 18px
}

.loading-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./assets/loading.gif') no-repeat center center;
    background-size: 50px;
}

.main__content {
    padding: 90px 0;
    position: relative;
    z-index: 0;
}


.main__title {
    text-align: center;
    font-size: 25px;
    color: #454545;
}

.main__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn {
    color: #fff;
    border: none;
    width: 213px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn_blue {
    background: #0E3C82;
}

.btn_pink {
    background: #FA28CC;
}

.btn__upload-label {
    width: 100%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.btn__upload-input {
    display: none;
}

.btn_markings {
    margin-left: 50px;
    cursor: pointer;
}

.catalog-wrapper {
    margin-top: 40px;
}

.catalog-caption {
    margin-top: 30px;
    display: flex;
}

.catalog-caption__txt {
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    position: relative;
}

.catalog-caption__txt::before {
    content: '';
    width: 7px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translate(0, -50%);
}

.catalog-heading {
    margin-top: 15px;
    display: flex;
}

.catalog-heading__item {
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid #0080C8;
    display: flex;
    align-items: center;
}

.catalog-heading__img {
    margin-left: 5px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.catalog-item {
    /*width: 200px;
    height: 250px;*/
    width: 160px;
    /*height: 100px;*/
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.catalog-item .checkbox-label {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.checkbox-label {
/*    width: 15px;
    height: 15px;
*/

    cursor: pointer;
    display: flex;
    align-items: center;
}

.label-text {
    margin-right: 5px;
}

.checkbox-label .checkmark {
    /*width: 100%;
    height: 100%;*/
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
}

.checkbox-label input:checked + .checkmark {
    background: #fff url("./assets/icon-checked.svg") center no-repeat;
    /*background: url("./assets/icon-checked.svg");*/
}

.checkbox-label input {
    display: none;
}

.catalog-item__link {
    display: block;
    height: 100px;
    position: relative;
}

.catalog-item__link:hover::before {
    content: '';
    position: absolute;
    background: rgba(1, 1, 1, 0.76);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.catalog-item__link:hover::after {
    content: 'Натисніть для редагування розмітки';
    position: absolute;
    top: 0;
    left: 0;
    top:50%;
    transform:translate(0, -50%);
    text-align: center;
    color: #fff;
    padding: 0 20px;
    font-size: 12px;
}

.catalog-item__img {
    width: 100%;
    height: 100%;
    /* object-fit:cover; */
    object-fit:contain;
    border-radius: 5px;
}

.catalog-item__caption {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.catalog-item__remove-icon {
    /*margin-right: 10px;*/
}

.catalog__item:hover .catalog-item__remove-icon {
    display: block;
}


.catalog-item__under {
    content: '';
    width: 123px;
    height: 1px;
    border-radius: 50%;
    background: #0080C8;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 2px 2px #C3E5F8;
    box-shadow: 0px 0px 2px 2px #C3E5F8;

}

.catalog-item.warning .catalog-item__img {
    border: 2px solid #EFAE05;
}

.catalog-item.warning .catalog-item__under {
    background: #EFAE05;
    -webkit-box-shadow: 0px 0px 2px 2px #F5C311;
    box-shadow: 0px 0px 2px 2px #F5C311;
}

.wrapper {
    display: flex;
    align-items: flex-start
}

.editor-page {
    /*padding: 60px ;*/
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.editor__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    min-height: 150px;
}

.editor-page__back {
    position: absolute;
    left: 0;
}

.editor__image-block {
    box-sizing: content-box;
    width: 65%;
    overflow: overlay;
    height: calc(100vh - 80px - 150px);
}

.editor__left-block {
    margin-left: 50px;
}

/**/